[Unit]
Description=Vector
[Service]
Type=simple
ExecStart=/app/scripts/run-vector.sh
Restart=always
TimeoutStartSec=60s
TimeoutStopSec=10s

[Install]
WantedBy=default.target
